
<ol id='links'>
  <% @links.each do |link| %>
    <li>  Title: <%= link.title %>
      URL:   <%= link.url %>
    </li>
  <% end %>
</ol>

<ol id='tags'>
  <% @tags.each do |tag| %>
    <li>  Name: <%= tag.name %>
    </li>
  <% end %>
</ol>

<form action="/new">
  <input type="submit" value="Add Bookmark" name="new">
</form>
