<form action="/save_link" method="post">
  Title <p>
  <input type="text" name="title" ><p>
  Website Address <p>
  <input type="text" name="url" size='50'><p>
  Tag<p>
  <input type="text" name="tag"><p>
  <input type="submit" value="Save" name="save">
</form>
