
<form action="/sign_up" method="post">
  <input type="text" name="first_name" placeholder="first name"><br>
  <input type="text" name="surname" placeholder="surname"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="verify_password" placeholder="verify password"><p>
  <input type="submit" value="Sign Up">
</form>
<%= session[:message] %>
